* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf4f2;
}
/* Dùng float xong thì bắt buộc phải .clear nó đi */
.clear {
  clear: both;
}

.header {
  /* mã màu HEX: #rrggbb 0 => f  */
  background-color: #f8e1db;
  padding: 10px 60px;
}

.header .navbar a {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  font-size: 17px;
}

/* Đối với thẻ inline chỉ đc margin trái phải */

.header .navbar a:hover {
  color: #ff0000;
}

.header .navbar {
  margin-top: 10px;
}

.carousel {
  background-image: url(../img/BG.png);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: x y; */
  background-position: center center;
}

.activity {
  padding: 70px 0;
}

.activity .title {
  text-align: center;
}

.activity .title h1 {
  color: #8d8d8d;
  font-size: 25px;
}

.activity .main .col {
  float: left;
  width: 25%;
  padding: 0 15px;
  /* box-sizing: border-box: không cộng dồn kích thước */
  box-sizing: border-box;
}

.activity .main .item {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}

.activity .main .item .thumbnail img {
  width: 100%;
  border-radius: 20px;
}

.activity .main .item h1 {
  font-size: 17px;
  margin-bottom: 10px;
}

.activity .main .item p {
  color: #8d8d8d;
  line-height: 23px;
}

.activity .main {
  margin-top: 20px;
  text-align: center;
}

.activity .main .item a {
  background-color: #e8e8e8;
  text-decoration: none;
  color: #8d8d8d;
  padding: 10px 50px;
  border-radius: 50px;
  /* Có thể ép kiểu thẻ inline thành thẻ block bằng cách display: inline-block; */
  display: inline-block;
  margin-top: 20px;
}

.activity .main .btn-view-all {
  color: #e76f51;
  padding: 10px 60px;
  border: 1px solid #e76f51;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 30px;
}

.activity .main .thumbnail {
  position: relative;
}

.activity .main .thumbnail i {
  color: red;
  /* position: absolute || relative || fixed; */ /*position ưu tiên top left*/
  /* position: absolute: di chuyển dựa vào lề của thẻ cha, chỉ cần thẻ nào có position thì nó coi đó là cha */
  /* position: relative; lấy vị trí hiện tại làm chuẩn */
  /* position: fixed: cố định tại 1 vị trí, cha auto là body */
  position: absolute;
  top: 20px;
  right: 20px;
  /* rgba(r,g,b,a),trong đó r,g,b: 0 => 255, a:0 => 1 */
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  line-height: 40px; /*Chỉ áp dụng được text 1 dòng*/
  border-radius: 13px;
}

.contact {
  width: 100%;
  height: 360px;
  background-color: #f8e1db;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact .contact-left {
  width: 50%;
  height: 360px;
  background-image: url(../img/mask.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -370px 0;
  float: left;
}

.contact .contact-left img {
  height: 320px;
  margin-left: 50px;
  margin-top: 15px;
}

.contact .contact-right {
  width: 50%;
  height: 330px;
  float: left;
  padding-top: 50px;
  color: #8d8d8d;
}

.contact .contact-right a {
  text-decoration: none;
  color: #e76f51;
}

.contact .contact-right .contact-download-app {
  width: 47%;
  height: 100px;
  float: left;
}

.contact .contact-right .contact-follow-us {
  width: 53%;
  height: 100px;
  float: left;
}

.contact .contact-right .contact-right-text h1 {
  font-size: 27px;
}

.contact .contact-right .contact-right-text p {
  padding: 10px 60px 25px 0;
}

.contact .contact-right .contact-download-app h1 {
  font-size: 20px;
  padding-bottom: 20px;
}

.contact .contact-right .contact-follow-us h1 {
  font-size: 20px;
  padding-bottom: 20px;
}

.contact .contact-right .contact-follow-us .icon-follow {
  font-size: 25px;
}

.contact .contact-right .contact-follow-us a {
  padding-right: 10px;
}

.footer {
  width: 100%;
  height: 380px;
  background-color: #f8e1db;
  margin-top: 100px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.footer .container .row {
  padding-top: 100px;
}

.footer .container .row h1 {
  font-size: 18px;
  color: #3a3735;
  margin-bottom: 20px;
}

.footer .container .row .col1 {
  width: 40%;
  height: auto;
  float: left;
}

.footer .container .row .col1 .item {
  padding: 0 50px;
}

.footer .container .row .col2 .item {
  padding-left: 50px;
}

.footer .container .row .col1 .item p {
  color: #3a3735;
  line-height: 28px;
}

.footer .container .row .col2 {
  width: 20%;
  height: auto;
  float: left;
}

.footer .container .row .col2 a {
  color: #3a3735;
  text-decoration: none;
  line-height: 28px;
}

.footer .container .copyright {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 35px;
  color: #3a3735;
}
